<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">


	<!-- 只扫描注册@controller -->
	<!-- <context:component-scan base-package="com.liwc.controller"> <context:include-filter 
		type="annotation" expression="org.springframework.stereotype.Controller"/> 
		</context:component-scan> -->

	<!-- 一下 配置不能放在dispatcher中，否则报错 -->
	<!-- org.springframework.web.servlet.PageNotFound - No mapping found for 
		HTTP request with URI [/v20/activity/test/] in DispatcherServlet with name 
		'appServlet' -->
	<!-- 启用识别匹配@Controller -->
	<mvc:annotation-driven />

	<!-- 对静态资源文件的访问 不支持访问WEB-INF目录 -->
	<!-- <mvc:default-servlet-handler /> -->

	<!-- 静态资源引用配置 -->
	<mvc:resources location="/static/" mapping="/static/**" />
	<mvc:resources location="/upload/" mapping="/upload/**" />



	<!-- 输出对象转string支持 -->
	<bean id="stringConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/plain;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 输出对象转JSON支持 -->
	<bean id="jsonConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<!-- 消息转换处理器 -->
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="stringConverter" />
				<ref bean="jsonConverter" />
			</list>
		</property>
	</bean>


</beans>