<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwc.mapper.AttachmentMapper">

	<!-- 启用redis缓存 -->
	<cache />

	<resultMap id="BaseResultMap" type="com.liwc.model.Attachment">
		<id column="FILE_ID" jdbcType="VARCHAR" property="fileId" />
		<result column="FILE_NAME" jdbcType="VARCHAR" property="fileName" />
		<result column="FILE_GROUP" jdbcType="VARCHAR" property="fileGroup" />
		<result column="ORGN_NAME" jdbcType="VARCHAR" property="orgnName" />
		<result column="FILE_SIZE" jdbcType="VARCHAR" property="fileSize" />
		<result column="FILE_EXT" jdbcType="VARCHAR" property="fileExt" />
		<result column="FILE_PATH" jdbcType="VARCHAR" property="filePath" />
	</resultMap>
	
	<sql id="Base_Column_List">
		FILE_ID, FILE_NAME, FILE_GROUP, ORGN_NAME, FILE_SIZE,
		FILE_EXT, FILE_PATH
	</sql>
	
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from ATTACHMENT
		where FILE_ID = #{fileId,jdbcType=VARCHAR}
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		ATTACHMENT
		where FILE_ID = #{fileId,jdbcType=VARCHAR}
	</delete>
	
	
	<insert id="insert" parameterType="com.liwc.model.Attachment">
		insert into ATTACHMENT
		(FILE_ID, FILE_NAME, FILE_GROUP,
		ORGN_NAME, FILE_SIZE, FILE_EXT,
		FILE_PATH)
		values (#{fileId,jdbcType=VARCHAR},
		#{fileName,jdbcType=VARCHAR},
		#{fileGroup,jdbcType=VARCHAR},
		#{orgnName,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR},
		#{fileExt,jdbcType=VARCHAR},
		#{filePath,jdbcType=VARCHAR})
	</insert>
	
	
	<insert id="insertSelective" parameterType="com.liwc.model.Attachment">
		insert into ATTACHMENT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fileId != null">
				FILE_ID,
			</if>
			<if test="fileName != null">
				FILE_NAME,
			</if>
			<if test="fileGroup != null">
				FILE_GROUP,
			</if>
			<if test="orgnName != null">
				ORGN_NAME,
			</if>
			<if test="fileSize != null">
				FILE_SIZE,
			</if>
			<if test="fileExt != null">
				FILE_EXT,
			</if>
			<if test="filePath != null">
				FILE_PATH,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fileId != null">
				#{fileId,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileGroup != null">
				#{fileGroup,jdbcType=VARCHAR},
			</if>
			<if test="orgnName != null">
				#{orgnName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
				#{fileSize,jdbcType=VARCHAR},
			</if>
			<if test="fileExt != null">
				#{fileExt,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				#{filePath,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateByPrimaryKeySelective" parameterType="com.liwc.model.Attachment">
		update ATTACHMENT
		<set>
			<if test="fileName != null">
				FILE_NAME = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="fileGroup != null">
				FILE_GROUP = #{fileGroup,jdbcType=VARCHAR},
			</if>
			<if test="orgnName != null">
				ORGN_NAME = #{orgnName,jdbcType=VARCHAR},
			</if>
			<if test="fileSize != null">
				FILE_SIZE = #{fileSize,jdbcType=VARCHAR},
			</if>
			<if test="fileExt != null">
				FILE_EXT = #{fileExt,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				FILE_PATH = #{filePath,jdbcType=VARCHAR},
			</if>
		</set>
		where FILE_ID = #{fileId,jdbcType=VARCHAR}
	</update>
	
	
	<update id="updateByPrimaryKey" parameterType="com.liwc.model.Attachment">
		update ATTACHMENT
		set FILE_NAME = #{fileName,jdbcType=VARCHAR},
		FILE_GROUP =
		#{fileGroup,jdbcType=VARCHAR},
		ORGN_NAME =
		#{orgnName,jdbcType=VARCHAR},
		FILE_SIZE = #{fileSize,jdbcType=VARCHAR},
		FILE_EXT = #{fileExt,jdbcType=VARCHAR},
		FILE_PATH =
		#{filePath,jdbcType=VARCHAR}
		where FILE_ID = #{fileId,jdbcType=VARCHAR}
	</update>
	
	
</mapper>