<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwc.mapper.SysMenuMapper">

	<cache />
	
	<resultMap id="BaseResultMap" type="com.liwc.model.SysMenu">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="M_CODE" jdbcType="VARCHAR" property="mCode" />
		<result column="M_NAME" jdbcType="VARCHAR" property="mName" />
		<result column="M_URL" jdbcType="VARCHAR" property="mUrl" />
		<result column="M_ORDER" jdbcType="INTEGER" property="mOrder" />
		<result column="M_PARENT" jdbcType="INTEGER" property="mParent" />
		<result column="M_LEVEL" jdbcType="INTEGER" property="mLevel" />
	</resultMap>

	<resultMap id="BaseResultMap1" type="com.liwc.model.SysMenu">
		<id column="ID" jdbcType="INTEGER" property="id" />
		<result column="M_CODE" jdbcType="VARCHAR" property="mCode" />
		<result column="M_NAME" jdbcType="VARCHAR" property="mName" />
		<result column="M_URL" jdbcType="VARCHAR" property="mUrl" />
		<result column="M_ORDER" jdbcType="INTEGER" property="mOrder" />
		<result column="M_PARENT" jdbcType="INTEGER" property="mParent" />
		<result column="M_LEVEL" jdbcType="INTEGER" property="mLevel" />

		<collection property="child" ofType="com.liwc.model.SysMenu">
			<id property="id" column="CHILD_ID" />
			<result property="mName" column="CHILD_NAME" />
			<result property="mUrl" column="CHILD_URL" />
			<result property="mOrder" column="CHILD_ORDER" />
			
		</collection>

	</resultMap>


	<sql id="Base_Column_List">
		ID, M_CODE, M_NAME, M_URL, M_ORDER, M_PARENT, M_LEVEL
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from SYS_MENU
		where ID = #{id,jdbcType=INTEGER}
	</select>

	<select id="findAll" resultMap="BaseResultMap1">
		select 
			p.ID, p.M_CODE, p.M_NAME, p.M_URL, p.M_ORDER, p.M_PARENT,
			c.ID CHILD_ID, c.M_CODE CHILD_CODE, c.M_NAME CHILD_NAME, 
			c.M_URL CHILD_URL, c.M_ORDER CHILD_ORDER
		from SYS_MENU p
		left join SYS_MENU c on p.ID=c.M_PARENT
		where p.M_LEVEL = 1
		order by p.M_ORDER
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		SYS_MENU
		where ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.liwc.model.SysMenu">
		insert into SYS_MENU (ID,
		M_CODE, M_NAME,
		M_URL, M_ORDER, M_PARENT,
		M_LEVEL)
		values
		(#{id,jdbcType=INTEGER}, #{mCode,jdbcType=VARCHAR},
		#{mName,jdbcType=VARCHAR},
		#{mUrl,jdbcType=VARCHAR},
		#{mOrder,jdbcType=INTEGER}, #{mParent,jdbcType=INTEGER},
		#{mLevel,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.liwc.model.SysMenu">
		insert into SYS_MENU
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="mCode != null">
				M_CODE,
			</if>
			<if test="mName != null">
				M_NAME,
			</if>
			<if test="mUrl != null">
				M_URL,
			</if>
			<if test="mOrder != null">
				M_ORDER,
			</if>
			<if test="mParent != null">
				M_PARENT,
			</if>
			<if test="mLevel != null">
				M_LEVEL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="mCode != null">
				#{mCode,jdbcType=VARCHAR},
			</if>
			<if test="mName != null">
				#{mName,jdbcType=VARCHAR},
			</if>
			<if test="mUrl != null">
				#{mUrl,jdbcType=VARCHAR},
			</if>
			<if test="mOrder != null">
				#{mOrder,jdbcType=INTEGER},
			</if>
			<if test="mParent != null">
				#{mParent,jdbcType=INTEGER},
			</if>
			<if test="mLevel != null">
				#{mLevel,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.liwc.model.SysMenu">
		update SYS_MENU
		<set>
			<if test="mCode != null">
				M_CODE = #{mCode,jdbcType=VARCHAR},
			</if>
			<if test="mName != null">
				M_NAME = #{mName,jdbcType=VARCHAR},
			</if>
			<if test="mUrl != null">
				M_URL = #{mUrl,jdbcType=VARCHAR},
			</if>
			<if test="mOrder != null">
				M_ORDER = #{mOrder,jdbcType=INTEGER},
			</if>
			<if test="mParent != null">
				M_PARENT = #{mParent,jdbcType=INTEGER},
			</if>
			<if test="mLevel != null">
				M_LEVEL = #{mLevel,jdbcType=INTEGER},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.liwc.model.SysMenu">
		update SYS_MENU
		set M_CODE = #{mCode,jdbcType=VARCHAR},
		M_NAME =
		#{mName,jdbcType=VARCHAR},
		M_URL = #{mUrl,jdbcType=VARCHAR},
		M_ORDER =
		#{mOrder,jdbcType=INTEGER},
		M_PARENT = #{mParent,jdbcType=INTEGER},
		M_LEVEL = #{mLevel,jdbcType=INTEGER}
		where ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>